<div class="m-4 md:m-8 lg:m-12 p-4 md:p-6 lg:p-8  rounded-3xl bg-gradient-to-b from-orange-400 to-orange-200 ">
    <select class="mb-2 md:mb-4 m-1 p-3 w-full md:w-1/3 lg:w-1/3 rounded-full text-gray-400">
        <option value="" disabled selected>Your are searching for?</option>
        <option value="restaurant">Search for Restaurant</option>
        <option value="food">Food</option>
    </select>
    <input class="mb-2 md:mb-4 m-1 p-3 w-full md:w-1/3 lg:w-1/3 rounded-full " type="text" placeholder="Type food for search">
    <input class="mb-2 md:mb-4 p-3 m-1 w-full md:w-1/4 lg:w-1/4 rounded-full " type="text" placeholder="Type location for search">
</div>
