<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Include Tailwind CSS -->
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

<!-- Include Swiper CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

</head>

<body>
    <div class="m-4 md:m-8 lg:m-12 p-4 md:p-6 lg:p-8  rounded-3xl bg-gradient-to-b from-orange-400 to-orange-200 ">
        <select class="mb-2 md:mb-4 m-1 p-3 w-full md:w-1/3 lg:w-1/3 rounded-full text-gray-400">
            <option value="" disabled selected>Your are searching for?</option>
            <option value="restaurant">Search for Restaurant</option>
            <option value="food">Food</option>
        </select>
        <input class="mb-2 md:mb-4 m-1 p-3 w-full md:w-1/3 lg:w-1/3 rounded-full " type="text" placeholder="Type food for search">
        <input class="mb-2 md:mb-4 p-3 m-1 w-full md:w-1/4 lg:w-1/4 rounded-full " type="text" placeholder="Type location for search">
    </div>


    <div class="flex flex-col px-5 justify-center lg:flex-row md:flex-row sm:flex-col gap-8">
        <div class="h-60 w-full md:w-80 shadow-2xl rounded-3xl bg-slate-100 text-center hover:shadow-orange-200 mb-4 md:mb-0">
            Card1
        </div>
        <div class="h-60 w-full md:w-80 shadow-2xl rounded-3xl bg-slate-100 text-center hover:shadow-orange-200 mb-4 md:mb-0">
            Card2
        </div>
        <div class="h-60 w-full md:w-80 shadow-2xl rounded-3xl bg-slate-100 text-center hover:shadow-orange-200">
            Card3
        </div>
    </div>
    <section>
        <div class="bg-white text-black py-20">
            <div class="container mx-auto flex flex-col md:flex-row items-center my-12 md:my-24">
                <div class="flex flex-col w-full lg:w-1/3 justify-center items-start p-8">
                    <h1 class="text-3xl md:text-5xl p-2 tracking-loose">Food<span class="text-orange-500">Rush</span></h1>
                    <h2 class="text-3xl md:text-3xl leading-relaxed md:leading-snug mb-2">Feel the taste of food
                    </h2>
                    <p class="text-sm md:text-base text-gray-600 mb-4">Explore the taste Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum animi nesciunt qui obcaecati sit ratione, accusantium assumenda veritatis facilis dolore nostrum numquam odio magni sed! Amet optio repellendus deleniti pariatur.</p>
                    <a href="#"
                        class="bg-transparent hover:bg-yellow-300 text-yellow-300 hover:text-black rounded shadow hover:shadow-lg py-2 px-4 border border-yellow-300 hover:border-transparent">
                        Explore Now</a>
                </div>
                <div class="p-8 mt-12 mb-6 md:mb-0 md:mt-0 ml-0 md:ml-8 lg:w-2/3  justify-center">
                    <div class="h-30 flex flex-row content-center ">
                        <div>
                            <img class="inline-block mt-28 hidden xl:block rounded-full rotate-90 w-[1500px]" src="../../assets/food.jpg"></div>
                            <div>
                                <img class="inline-block mt-28 md:mt-28 p-8 md:p-0  rounded-full rotate-90 w-[2000px]"  src="../../assets/food.jpg"></div>
                                <div>
                                    <img class="inline-block mt-28 hidden lg:block  rounded-full rotate-90 w-[1500px]" src="../../assets/food.jpg"></div>
                                </div>
                            </div>
                        </div>
                    </div>
    </section>
    
</body>
</html> 